<h2 class="usernameProfile"><%= @user.username %></h2>

<% if (current_user.id==@user.id) %>
  <%= link_to "Add category", :add_category %>
<% end %>
<div id="categoriesList">
  <%= render 'categories/categories', categories: @categories %>
</div>

<%= link_to "New story", :new_story %>
