<h2 class="usernameProfile"><%= @user.full_name %></h2>

<% if (current_user.id==@user.id) %>
  <a href="/newCategory" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Add category</a>
<% end %>
<div id="categoriesList">
  <%= render 'categories/categories', categories: @categories %>
</div>

<%= current_user.id %>
<%= @user.id %>
